/* Changes through Bootstrap CSS */
.list-group {
    width: 35% !important;
}
.list-group-b{
    width:100% !important;
}
.list-group-item span{
    width:100%;
}

/* normal css */
body{
    background-color: #2C3335;
}
.align-input-bar{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.suggestion-box{
    width: 92%;
    background-color: red;
    position: absolute;
    top: 38px;
    left: 44px;
    z-index: 999;
    display: none;
}
.custom-button{
    margin-top: 20px;
    border-radius: 36px;
    padding: 10px 33px;
}

/* Favourite Hereos File CSS */
.fav-heroes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}