body{
    background-color: #2C3335;
    color:#EAF0F1;
}
.alignment{
    display:flex;
    flex-direction: row;
}
main{
    width:60%;
}
aside{
    width:40%;
}
.image-box{
    width:100%;
}
.image-box img{
     width:100%;
}
.custom-button{
    margin-top: 20px;
    border-radius: 36px;
    padding: 10px 33px;
    outline:none;
    border:none;
}
.custom-button:hover{
    background-color: #cf3333;
    color:white;
}